// Bootstrap
@import '~bootstrap/scss/bootstrap';
@import '~../../node_modules/normalize-scss/sass/_normalize';

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}


html, body {
  height: 100%;

  font-family: 'Rubik', sans-serif;

}

body {
  min-width: 320px;

  position: relative;

  line-height: 1.65;
  // * { border: 1px solid red; }
}

.container {
max-width: 1150px;

margin: 0 auto;
}


.main-caption {
text-align: center;
font-weight: 400;

line-height: 1.5;
font-size: 20px;
margin: 0 auto;
padding-bottom: 20px;
}

.logo {
  width: 120px;
  margin-top: 20px;
  margin-left: 6%;

  &__img {
    width: 100%;
    height: 100%;
  }
}
