// Bootstrap
@import '~bootstrap/scss/bootstrap';
@import '~../../node_modules/normalize-scss/sass/_normalize';

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}


html, body {
  height: 100%;

  font-family: 'Rubik', sans-serif;

}

body {
  min-width: 320px;

  position: relative;

  line-height: 1.65;
  // * { border: 1px solid red; }
}

.container {
max-width: 1150px;

margin: 0 auto;
}


.main-caption {
font-family: 'Rubik', sans-serif;
text-align: center;
font-weight: 400;

line-height: 1.5;
font-size: 20px;
margin: 0 auto;
padding-bottom: 20px;
}

.logo {
  width: 110px;
  // margin-top: 20px;
  margin-left: 3%;


  &__img {
    display: block;
    width: 100%;
    height: 100%;
    padding-right: 15px;
  }
}
.nav-tabs {
  margin-top: 15px;
  padding-left: 6%;
  background: #f8f8f8;
  box-shadow: inset 0 15px 15px  -15px #ccc;
  a {
    &.active {
      box-shadow: inset 0 15px 15px  -15px #ccc;
    }
    transition: 0.5s;
      &:hover {
        text-decoration: underline;
      }
  }
}
.nav-tabs .nav-link {
    text-transform: uppercase;
    color: #000;
    padding-left: 25px;
    padding-right: 25px;
    letter-spacing: 2px;
  &.active {
    color: #c28800;
  }
}


.navbar {
  &-collapse {
    padding-top: 12px;
  }
  &-expand-lg {
    padding-bottom: 0px;

  }
}

 .navbar-expand-lg  .navbar-nav .nav-link {
  padding-left: 30px !important;
  padding-right: 30px !important;
  padding-bottom: 20px;
  border-bottom: 3px solid transparent;
  &:hover {
    border-bottom: 3px solid black;
  }
}

.nav-tabs {
  margin-top: 0;
}


.button-wrapper {
text-align: center;
}
.primary-button {
height: 42px;
font-size: 15px;
font-weight: 400;
background-color: #0a0c12;
color: #fff;

margin: 20px 0;
padding: 0 30px;
letter-spacing: .025em;

border: 0;
border-radius: 5px;

line-height: 42px;
outline: none;
cursor: pointer;
transition: .15s ease-in-out;
&--disabled {
  background-color: #ccc;
}
}

<<<<<<< HEAD
.primary-button {
  &:hover {
    background-color: #2e3854;
  }
  &:focus {
    outline: none;
  }
=======
.primary-button:hover {
  background-color: #007bff;
>>>>>>> c37d5da1105f77fe7fbf892d76d5fc3b80a883b1
}


.content-center {
  padding: 100px 0;
}

.vue-simple-progress-bar{
  background: #c28800 !important;
}
